@import 'defaults.scss';

:host {
  .m-joinBanner {
    height: 160px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include z-index(announcement);

    @include m-theme() {
      background-color: themed($m-bgColor--primaryInverted);
    }

    .m-joinBanner__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;

      @include m-theme() {
        color: themed($m-textColor--primaryInverted);
      }

      .m-joinBanner__text {
        max-width: 450px;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.294;
        @include unselectable;

        @media screen and (min-width: $min-desktop) {
          margin-right: 200px;
        }
        @media screen and (max-width: $min-tablet) {
          display: none;
        }
      }

      .m-joinBanner__logo {
        width: 130px;
        margin-bottom: 20px;
        @include unselectable;
      }

      // overriding button theming as m-button does not yet work well with inverted background colors.
      ::ng-deep m-button {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          @include unselectable;
          @include m-theme() {
            color: themed($m-textColor--primaryInverted) !important;
          }
          &:hover {
            @include m-theme() {
              background-color: themed(
                $m-bgColor--btnHoverLightAlways
              ) !important;
            }
          }
        }
      }
    }

    .m-joinBanner__closeButton {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px 40px;
      cursor: pointer;

      @include unselectable;
      @include m-theme() {
        color: themed($m-textColor--primaryInverted);
      }
    }
  }
}
